.task-container {
  width: 250px;
  height: 500px;
  border: 1px solid black;
  margin-right: 65px;
  margin-top: 65px;
  position: relative;

  .board-title {
    height: 25px;
    border-bottom: 1px solid black;
    text-align: center;
  }

  .board-tasks {
    display: flex;
    flex-direction: column;

    .task-edit-btn {
      margin: 5px 2px 5px 5px !important;
      border-radius: 5px !important;
      border-color: black !important;
      border-width: 1px !important;
      width: 235px;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
    }
    .align-left {
      display: inline;
    }
    .align-right {
      display: inline;
    }
  }

  .task-add-btn {
    all: unset;
    padding-left: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
  }
}
