.main-navbar {
	margin: 40px 0 0 40px;
	//position: fixed !important;
	width: 200px;

	background: #fff;
	a {
		text-decoration: none;
		color: #4a4a4a;
		font-size: 18px;

		&:hover {
			color: #7b7b7b;
		}
	}

	a.active {
		font-weight: bold;
	}

	.navbar-items {
		flex-direction: column !important;
		gap: 10px;
	}
}
.navbar {
	padding: 40px;
}