.task-edit-btn {
  margin: 5px 2px 5px 5px !important;
  border-radius: 5px !important;
  border-color: black !important;
  border-width: 1px !important;
  width: 235px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.align-left {
  display: inline;
}
.align-right {
  display: inline;
}