.students-table {
	margin-left: 200px;
	padding:40px 40px 40px 0;
	.students-title-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.students-title {
			font-size: 30px;
		}

		button {
			height: 40px;
		}
	}

	.main-table {
		thead {
			th {
				text-align: center;
				margin: 0 auto;

				.main-checkbox {
					display: flex;
					justify-content: center;

					#main-checkbox {
						cursor: pointer;
						width: 18px;
						height: 18px;
						box-shadow: none;

						&:checked {
							appearance: none;
							background-image: none;
							background-color: white;
							border-color: #9e9b9b;
							content: url('/assets/check.png');
						}
					}
				}
			}
		}
	}
}