tr {
	text-align:center;
	margin: 0 auto;
	vertical-align: middle;
	.student-table-checkbox {
		display: flex;
		justify-content:center;

		#checkbox {
		cursor: pointer;
			width: 18px;
			height: 18px;
			box-shadow: none;
			&:checked {
				appearance: none;
				background-image: none;
				background-color: white;
				border-color: #9e9b9b;
				content: url('/assets/check.png');
			}
		}
	}

	.status {
		display: block;
		width: 25px;
		height: 25px;
		background: #000;
		margin: 0 auto;
		border-radius: 50%;
	}

	.active {
		background: #27a147;
	}

	.inactive {
		background: #706e6e;
	}
}