html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    font-family: "Roboto";
}
.header {
    background: #9b9b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header-left-side {
    color: #fff;
    font-size: 18px;
}
.header-right-side {
    display: flex;
    align-items: center;
}
.notification {
    position: relative;
    padding: 9px 0;
}
.show-dropdown {
    display: none;
}
.notification:hover .show-dropdown {
    display: block;
}
.notification-image {
    display: block;
    width: 25px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}
.bell-animation {
    animation: bell 2.5s linear;
}
@keyframes bell {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-15deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
    }
}
.dropdown {
    display: block;
    position: absolute;
    left: -130px;
    top: 54px;
    background-color: #fff;
    width: 338px;
    z-index: 1;
    border: 1px solid #767676;
    border-top: none;
}
.dropdown-child {
    padding: 10px;
    display: flex;
}
.each-user {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    gap: 5px;
}
.each-user-image {
    margin: 0 auto;
    width: 30px;
    background-color: #cccccc;
    border-radius: 50%;
    border: 1px solid #767676;
}
.message {
    width: 200px;
    background: #cccccc;
    border: 1px solid #828282;
    border-radius: 5px;
    height: 40px;
    position: relative;
}
.message::after {
    position: absolute;
    content: "";
    top: 10px;
    left: -11px;
    border-top: 6px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 12px solid #cccccc;
}
.user {
    display: flex;
    align-items: center;
    position: relative;
}
.user-logo {
    width: 35px;
    background: #fff;
    border-radius: 50%;
    padding: 5px 2px 0;
    border: 2px solid #00baa6;
    margin-right: 5px;
}
.user-name {
    color: #fff;
    font-size: 18px;
}
.user-dropdown {
    display: none;
    position: absolute;
    right: -20px;
    top: 54px;
    background-color: #fff;
    width: 122px;
    z-index: 1;
    border: 1px solid #767676;
    border-top: none;
    padding: 10px 5px 10px 20px;
}
.user-dropdown a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: #4a4a4a;
}
.user-dropdown a:last-child {
    margin-bottom: 10px;
}
.user:hover .user-dropdown {
    display: block;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    position: fixed;
    padding: 40px 0 0 40px;
}
.nav-bar a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;
}
.nav-bar .active {
    font-weight: bold;
}
.main-content {
    margin-left: 250px;
    padding: 35px 40px 40px 0px;
}
.main-content .title {
    font-weight: 400;
    margin: 0 0 5px;
}
.add-student-btn {
    display: block;
    margin-left: auto;
    border: 1px solid #4a4a4a;
    background: #fff;
    line-height: 0;
    margin-bottom: 15px;
    padding: 3px 6px;
}
.add-student-btn:hover {
    cursor: pointer;
}
.student-table {
    border-collapse: collapse;
    width: 100%;
}
.student-table th,
.student-table td {
    border: 2px solid #5f5f5f;
}
.student-table th {
    font-weight: 400;
    font-size: 12px;
    padding: 20px 0;
}
.column-checkbox, .column-gender, .column-status {
    width: 110px;
}
.column-group, .column-options {
    width: 150px;
}
.column-birthday {
    width: 170px;
}
.student-table td {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
}
.student-table td .student-status {
    display: block;
    width: 25px;
    height: 25px;
    background: #000;
    margin: 0 auto;
    border-radius: 50%;
}
.student-table td .active-status {
    background: #689e39;
}
.student-table td .non-status {
    background: #b6b6b6;
}
.student-table .cell-options button {
    background: none;
    line-height: 0;
    padding: 5px 8px;
    border: 1px solid #4a4a4a;
    cursor: pointer;
}
.student-table .cell-options button:first-child {
    margin-right: 4px;
}
.student-table .cell-checkbox {
    position: relative;
    font-size: 22px;
    user-select: none;
}
.student-table .cell-checkbox input {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid #5f5f5f;
    outline: none;
    cursor: pointer;
}
.student-table .cell-checkbox input:checked {
    appearance: none;
    content: url('images/check.png');
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal .close-modal {
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    line-height: 0;
    padding: 1px 3px;
    border: 1px solid #4a4a4a;
    cursor: pointer;
}
.modal .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #4a4a4a;
    border-radius: 8px;
}
.modal .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    border-radius: 8px;
}
.modal .modal-body {
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 50px 30px;
    font-weight: bold;
    font-size: 18px;
}
.modal .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
}
.modal .modal-footer .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.modal .modal-footer .actions button {
    color: #5f5f5f;
    padding: 2px 10px;
    cursor: pointer;
    background: none;
    border: 1px solid #4a4a4a;
}
.show-modal {
    display: block;
}
.delete-modal .modal-content {
    width: 500px;
}
.edit-modal {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}
.edit-modal .modal-content {
    width: 800px;
}
