.login {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  form {
    width:500px;

    button {
      display: block;
      margin:0 auto;
    }
  }
  .center-inputs {
    margin-right: 85px;
  }
  .btn-color {
    background-color: #323634;
    border-color: #323634;
  }
  .btn-color:hover {
    background-color: #323634;
    border-color: #323634;
  }
  .btn-color:active {
    background-color: #323634;
    border-color: #323634;
  }
}