.user-chat-body {
  border: 2px solid gray;
  padding: 10px;
  min-width: 700px;
  position: relative;
  height: 700px;
  overflow-y: scroll;
  .title {
    font-size: 18px;
    margin: 0 0 10px;
  }

  .all-members {
    margin-bottom: 15px;
    h2 {
      font-size: 18px;
      margin: 0 0 10px;
    }

    .all-members-list {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .section-title {
    font-size: 18px;
    margin: 0 0 10px 5px;
  }

  .messages {
    height: 460px;
    overflow-y: auto;
  }

  .send-message {
    margin-top: 27px;
  }

  .input-message {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.remove-margin {
  margin-top: 0 !important;
}
