.error-modal {
  .modal-body {
    padding:0 !important;
  }

  .modal-header {
    background-color: #f8d7da !important;
  }

  .alert {
    margin-bottom :0 !important;
  }
}

.new-line-error {
  white-space: pre-line;
}
