.header {
	background: #9b9b9b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	.header-logo {
		color: #fff;
		font-size: 18px;
	}

	.header-right-side {
		display: flex;
		align-items: center;

		.notification {
			position: relative;
			padding: 5px;
			margin-right: 30px;
			&:hover .show-dropdown {
				display: block;
			}

			.indicator {
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: rgb(252, 49, 49);
				top: 5px;
				right: 5px;
				transform: scale(0);
			}

			.show-indicator {
				animation: indicator 1s linear;


				@keyframes indicator {
					0% {
						transform: scale(1);
					}

					50% {
						transform: translateY(1px);

					}

					100% {
						transform: translateY(-1px);

					}
				}
			}

		}

		.notification-animation {
			animation: bell 2.5s linear;

			@keyframes bell {
				0% {
					transform: rotate(0deg);
				}
				10% {
					transform: rotate(-10deg);
				}
				20% {
					transform: rotate(5deg);
				}

				30% {
					transform: rotate(10deg);
				}
				40% {
					transform: rotate(5deg);
				}

				50% {
					transform: rotate(-10deg);
				}
				60% {
					transform: rotate(-15deg);
				}
				70% {
					transform: rotate(5deg);
				}
				80% {
					transform: rotate(0deg);
				}
				90% {
					transform: rotate(-10deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
		}
	
			.show-dropdown {
				display: none;
				position: absolute;
				left: -136px;
				top: 40px;
				background-color: #fff;
				width: 370px;
				z-index: 2;
				border: 1px solid #767676;
				border-top: none;

				.dropdown-element {
					box-sizing: border-box;
					padding: 10px;
					display: flex;


					.each-user {
						display: flex;
						flex-direction: column;
						margin-right: 15px;
						gap: 5px;

						.each-user-logo {
							margin: 0 auto;
							width: 30px;

						}

					}

					.message {
						width: 200px;
						background: #cccccc;
						border: 1px solid #828282;
						border-radius: 5px;
						height: 40px;
						position: relative;

						&::after {
							position: absolute;
							content: "";
							top: 10px;
							left: -11px;
							border-top: 6px solid transparent;
							border-bottom: 2px solid transparent;
							border-right: 12px solid #cccccc;
						}
					}
				}
			}

		}
		.user {
			display: flex;
			align-items: center;
			position: relative;
			padding: 5px;

			.user-name {
				color: #fff;
				font-size: 18px;
				margin-left: 10px;

			}

			.show-dropdown {
				display: none;
				position: absolute;
				left: 4px;
				top: 45px;
				background-color: #fff;
				width: 160px;
				z-index: 1;
				border: 1px solid #767676;
				border-top: none;
				padding: 10px 5px 10px 20px;

				a {
					display: block;
					margin-bottom: 15px;
					font-size: 18px;
					text-align: left;
					text-decoration: none;
					color: #4a4a4a;

					&:last-child {
						margin-bottom: 10px;
					}
				}
			}

			&:hover .show-dropdown {
				display: block;
			}
		}
	}